@charset "utf-8";
body {
    background-color: #ffeddb;
}

h1 {
    color: #0bd;
    background-color: #faa;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    background-color: #fee;
    color: black;
}